/* style.css */
body{
  background: linear-gradient(to left, #24FF00 , rgba(255, 0, 0, 0) );
 
}


.grid{
    display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, minmax(90px, auto));
  grid-gap: 10px;
}


.titolone {
    font-family: helvetica neue, regular;
    font-size: 67px;
    grid-column: 1/4;
    margin-left: 20px;
    margin-top: -40px;
  }
  
 a{  text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
    color: #131313;
    transition: 0.1s ease;


 }
 
 a:hover{
    color:#ffffff
    
  }
 a.instalink:hover{
    color:#24FF00
    
  }
  p {
    color: #131313;
    line-height: 1;
  }




  svg {
    transform: rotate(55deg) translate(50px, 20px);
    transform-origin: center center;
  }


.instalink {
  
  text-decoration: none; 
  font-family: Helvetica, sans-serif;
  font-size: 10px;
}

path#curve{
  padding-left: 200px;
}

    
.container{
  
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
  margin-top: 300px;
  white-space: nowrap;


}

h1{
  font-size: 25px;
  font-family: Helvetica;
  font-weight: 200;
  animation: move-rtl 6000ms linear infinite;
  padding-inline-start: 20px;
}

@keyframes move-rtl{
  0%{
    transform:  translateX(0);
  }
  100% {
    transform: translateX(-100%)
  }
}